body {
    background: #F3F5FC;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 32px;
    height: 48px;
    margin: 10px 10px;
}

.input {
    display: flex;
    justify-content: center;
}

.input textarea {
    text-align: center;
    font-size: 2em;
    width: 320px;
    color: #0A3871;
}